<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TLS Connection Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="#" th:action="@{/tls}" th:object="${input}" method="post">
    <p>URL: <input type="text" th:field="*{url}" /></p>
    <p>Keystore: <input type="text" th:field="*{keystore}" /></p>
    <p>Truststore: <input type="text" th:field="*{truststore}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>


<p th:text="'Response Code: ' + ${tlsResponseCode}" />
<p th:text="'Response Msg: ' + ${tlsResponse}" />
</body>
</html>